---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="My Projects">
    <div class="w-full flex flex-col md:flex-row justify-center px-8 pt-8">
        <div
            class="transform-gpu transition ease-in-out hover:scale-105 duration-300 bg-purple-400 min-h-96 rounded-xl border-4 border-black shadow-brutalism shadow-black md:m-4 m-0 mb-6 p-8 sm:p-12 grow w-full flex flex-col justify-center"
        >
            <img
                src="/flutter-icon-browser-logo.png"
                alt="Flutter Icon Browser Logo"
                class="h-32 w-32 object-contain rounded-2xl border-black shadow-brutalism shadow-black self-center"
            />
            <h2 class="text-3xl text-center font-unbounded font-bold mt-4 mb-2">
                Flutter Icon Browser
            </h2>
            <p class="text-xl text-center font-unbounded">
                A simple app to browse all the icons available in Flutter.
            </p>
        </div>
        <div
            class="transform-gpu transition ease-in-out hover:scale-105 duration-300 bg-orange-400 min-h-96 rounded-xl border-4 border-black shadow-brutalism shadow-black md:m-4 m-0 mb-6 p-8 sm:p-12 grow w-full flex flex-col justify-center"
        >
            <img
                src="/garuda-exams-logo.png"
                alt="Garuda Exams Logo"
                class="h-32 w-32 object-contain rounded-2xl border-black shadow-brutalism shadow-black self-center"
            />
            <h2 class="text-3xl text-center font-unbounded font-bold mt-4 mb-2">
                Garuda Exams
            </h2>
            <p class="text-xl text-center font-unbounded">
                An exam taking app built while working at Ioninks.
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col md:flex-row justify-center px-8">
        <div
            class="transform-gpu transition ease-in-out hover:scale-105 duration-300 bg-red-400 min-h-96 rounded-xl border-4 border-black shadow-brutalism shadow-black md:m-4 m-0 mb-6 p-8 sm:p-12 grow w-full flex flex-col justify-center"
        >
            <img
                src="/space-racer-logo.png"
                alt="Space Racer Logo"
                class="h-32 w-32 object-contain rounded-2xl border-black shadow-brutalism shadow-black self-center"
            />
            <h2 class="text-3xl text-center font-unbounded font-bold mt-4 mb-2">
                Space Racer
            </h2>
            <p class="text-xl text-center font-unbounded">
                My first game bringing a retro game idea to life using modern
                technologies. A Special Gift for Star Wars fans awaits inside.
            </p>
        </div>
        <div
            class="transform-gpu transition ease-in-out hover:scale-105 duration-300 bg-yellow-400 min-h-96 rounded-xl border-4 border-black shadow-brutalism shadow-black md:m-4 m-0 mb-6 p-8 sm:p-12 grow w-full flex flex-col justify-center"
        >
            <img
                src="/bestsellers-logo.png"
                alt="Bestsellers Logo"
                class="h-32 w-32 object-contain rounded-3xl border-black shadow-brutalism shadow-black self-center"
            />
            <h2 class="text-3xl text-center font-unbounded font-bold mt-4 mb-2">
                Bestsellers
            </h2>
            <p class="text-xl text-center font-unbounded">
                A simple app to browse & buy the bestselling books in various
                categories on NYT Bestsellers List.
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col md:flex-row justify-center px-8 pb-8">
        <div
            class="transform-gpu transition ease-in-out hover:scale-105 duration-300 bg-blue-400 min-h-96 rounded-xl border-4 border-black shadow-brutalism shadow-black md:m-4 m-0 mb-6 p-8 sm:p-12 grow w-full flex flex-col justify-center"
        >
            <img
                src="/smart-dhobi-logo.png"
                alt="Smart Dhobi Logo"
                class="h-32 w-32 object-contain rounded-2xl border-black shadow-brutalism shadow-black self-center"
            />
            <h2 class="text-3xl text-center font-unbounded font-bold mt-4 mb-2">
                Smart Dhobi
            </h2>
            <p class="text-xl text-center font-unbounded">
                A laundry service app for VIT Students which won the Best
                Freshers Team Prize in GDSC-VIT DevJams'22 Hackathon.
            </p>
        </div>
        <div
            class="transform-gpu transition ease-in-out hover:scale-105 duration-300 bg-orange-400 min-h-96 rounded-xl border-4 border-black shadow-brutalism shadow-black md:m-4 m-0 mb-6 p-8 sm:p-12 grow w-full flex flex-col justify-center"
        >
            <img
                src="/aispy-logo.png"
                alt="AISpy Logo"
                class="h-32 w-32 object-contain rounded-2xl border-b-2 border-r-2 border-white shadow-brutalism shadow-black self-center"
            />
            <h2 class="text-3xl text-center font-unbounded font-bold mt-4 mb-2">
                AISpy
            </h2>
            <p class="text-xl text-center font-unbounded">
                Brining the Chinese Whisper Game to the digital world with
                images generated by DallE2 API. Won the GDSC-VIT Internal
                Icebreaking Hackathon.
            </p>
        </div>
    </div>
</SiteLayout>
