<footer
    class="bg-black p-4 flex flex-col sm:flex-row justify-between items-center"
>
    <p class="text-white font-unbounded">Copyright(C) Chandram Dutta 2023</p>
    <p class="text-white font-unbounded">Built using Astro</p>
</footer>
