---
const { title } = Astro.props;
---

<header
    class="grow bg-white sm:h-24 flex flex-col sm:flex-row item-left sm:items-center border-b-4 border-black px-8 place-content-between"
>
    <h1 class="font-abril-fatface font-black py-4 sm:py-0 text-4xl grow">
        {title}
    </h1>
    <a
        href="mailto:chandramdutta2004@gmail.com"
        class="font-unbounded font-bold sm:px-2">Email</a
    >
    <a class="font-unbounded font-bold pb-4 sm:pb-0 sm:px-2">Resume</a>
</header>
